:root {
    --list-gray: #666F74;
    --h1-gray: #727B81;
    --stroke-gray: #DDDDDD;
    --bg-gray: #eee;
    --bg-white: #FFFFFF;
    --blue: #0A91DE;
}

body {
    font-family: "Manrope", sans-serif;
}

header {
    background-color: #eee;
    height: 100vh;
    max-width: 77.5rem;
    margin: 0 auto;
}

.inner-container {
    max-width: 1240px;
    background-color: var(--bg-white);
    max-width: 14.5rem;
    height: 100vh;
    border: 1px solid var(--stroke-gray);
    padding: 1rem;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--h1-gray);
    font-size: 1.25rem;
}

h1 span {
    color: var(--blue);
}

p {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--h1-gray);
    border-bottom: 1px solid var(--stroke-gray);
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

.main-menu li {
    margin-bottom: 1.5rem;
    position: relative;
}

a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--list-gray);
    transition: all 0.3s;
}

.main-menu li:first-child a:hover,
a:focus {
    font-weight: 700;
}

.sub-menu {
    position: absolute;
    left: 8.625rem;
    top: -1.125rem;
    max-width: 10.875rem;
    min-width: 10.875rem;
    background-color: var(--bg-white);
    border: 1px solid var(--blue);
    border-radius: .4375rem;
    box-shadow: var(--stroke-gray);
    z-index: 1;
    padding: 1.125rem;
    visibility: hidden;
    opacity: 0;
}

.sub-menu li:last-of-type {
    border-bottom: none;
}

.sub-menu li {
    border-bottom: 1px solid var(--stroke-gray);
    padding-bottom: .5rem;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

