:root {
    --list-gray: #666F74;
    --h1-gray: #727B81;
    --stroke-gray: #DDDDDD;
    --bg-gray: #eee;
    --bg-white: #FFFFFF;
    --blue: #0A91DE;
}

body {
    font-family: "Manrope", sans-serif;
}

header {
    background-color: #eee;
    height: 100vh;
    max-width: 77.5rem;
    margin: 0 auto;
}

.inner-container {
    max-width: 1240px;
    background-color: var(--bg-white);
    max-width: 14.5rem;
    height: 100vh;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: var(--h1-gray);
    font-size: 1.25rem;
}

h1 span {
    color: var(--blue);
}

p {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--h1-gray);
}

ul {
    list-style: none;
    padding: 0;
}

.main-menu li {
    margin-bottom: 1.5rem;
    position: relative;
}

a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--list-gray);
    transition: all 0.3s;
}

.main-menu li:first-child a:hover,
a:focus {
    font-weight: 700;
}

